<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置MyBatis的全局配置 就设置为别名-->
    <settings>
        <!--将下划线_自动映射为驼峰,emp_name:empName-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 开启多表查询的关联映射 -->
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    <!-- 设置全局类型别名-->
    <typeAliases>
        <package name="com.csdj.pojo"/>
    </typeAliases>
    <plugins>
        <!--配置分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>